<!--La view editar piso-->

<section  ng-app="dreamsApp" ng-controller="pisoCtrl" init="edit(dataPiso.id)">
   <h1 class="text-center">Modificar el Piso</h1>     

  <div ng-show="isLogged" >
  
          <form  ng-submit="submitChange(datPiso.id)" accept-charset="UTF-8" role="form" >
                <div class="row">

                    <div class="form-group " ng-class="{'has-error': errorNombre}"></div>
                                        
                              <input type="text" ng-model="dataPiso.nombre" class="form-control" name="nombre" id="nombre" required><small class="help-block">{{ errorNombre }}</small>

                    <div class="form-group " ng-class="{'has-error': errorDescripcion}"></div>    
                              <textarea rows="8" ng-model="dataPiso.descripcion" class="form-control" name="descripcion" id="descripcion" required></textarea>
                              <small class="help-block">{{ errorDescripcion}}</small>
                    </div>

                 <div>                        
                             <button class="btn btn-default" type="submit"  >Cerrar</button>
                              <input class="btn btn-default" type="submit" value="Guardar Cambios">
                 </div> 

                 <div ng-show="error">
            <strong ng-bind="error"></strong>
          </div>                 
                          
      
  
   
  </form>  

  </div>
</section>




 