
<!--La view create piso -->
<section ng-app="dreamsApp" ng-controller="pisoCtrl">
    
<div class="container">

  <div ng-show="isLogged" >
                            <h2 class="text-center">Agregar un Piso</h2>
                            <form  ng-submit="submitCreate()" accept-charset="UTF-8" role="form">
                                <div class="row">

                                    <div class="form-group col-lg-12" ng-class="{'has-error': errorNombre}">
                                        <input type="text" ng-model="pisoData.nombre" class="form-control" placeholder="Nombre del piso" name="nombre" id="nombre" required><small class="help-block">{{ errorNombre }}</small>
                                        <div class="form-group col-lg-12" ng-class="{'has-error': errorDescripcion}"></div>
                                        <textarea rows="8" ng-model="pisoData.descripcion" class="form-control" placeholder="Descripcion del piso" name="descripcion" id="descripcion" required></textarea>
                                        <small class="help-block">{{ errorDescripcion }}</small>
                                    </div>

                                    <div class="form-group col-lg-12 text-center">
                                        <input class="btn btn-primary" type="submit" value="Enviar">
                                        <a href="#/" class="btn btn-danger">Cancelar</a>
                                    </div>    

                                </div>
</form> 
           </div>
 </div>           

</section>