<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- Head -->
   
</head>
<body ng-app="dreamsApp" ng-controller="PisoCtrl">
    


<div class="table-responsive">
  <h2>Pisos</h2>
        <p>Listado de los pisos existentes en el edificio</p>
  <table class="table table-striped">
    <thead>
      <tr>
                <th>Nombre</th>
              
                <th>
                    <i class="mdi mdi-comment-text"></i>
                    <span>Descripción</span>
                </th>
                <th>
                    <i class='fa fa-keyboard-o'></i>
                    <span>Operaciones</span>
                </th>
           </tr>
        </thead>
 
        <tbody>
          <tr ng-repeat= "piso in data">
               
                <td>{{piso.nombre}}</td>
                
                <td>{{piso.descripcion}}</td>
              
               <td>
               <a class="btn btn-warning" ng-click="edit(piso.id, $index)" aria-label="Editar">
                  <i class="fa fa-pencil fa-fw " aria-hidden="true"></i>
                </a>
               <a class="btn btn-danger" ng-click="destroy(piso.id)" href>
                            <i class="fa fa-fw fa-trash" aria-hidden="true"></i>     
</a>
              </td>
          </tr>
        </tbody>
    </table>
</div>
<!-- Modal Para Editar-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modificar los datos</h4>
      </div>

      <div class="modal-body">
          <form ng-submit="submitChange(piso.id)" accept-charset="UTF-8" role="form">
                            <div class="row">

                              <div class="form-group" ng-class="{'has-error': errorNombre}"></div>
                                        
                                        <input type="text" ng-model="nombre" class="form-control" name="nombre" id="nombre" placeholder="Nombre del piso" required><small class="help-block">{{ errorNombre }}</small>

                                    <div class="form-group" ng-class="{'has-error': errorDescripcion}"></div>    
                                    <textarea rows="8" ng-model="descripcion" class="form-control" name="descripcion" id="descripcion" placeholder="Descripcion del piso" required></textarea>
                                    <small class="help-block">{{ errorDescripcion}}</small>
                                </div>

                                <div class="modal-footer">                        
                                    <button type="button" class="btn btn-primary" type="submit"  data-dismiss="modal">Cerrar</button>
                                    <input class="btn btn-success" type="submit" value="Guardar Cambios">
                                </div> 

                         
                        </form>    
      
  

  </div>
</div>   
</div>  
</div>  
    <!-- Modal para Eliminar-->
 <!-- Modal 
  <div id="myModaldelete" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        
        <div class="modal-body">
        <form ng-submit="destroy(piso.id)" accept-charset="UTF-8" role="form">
          <p>Desea eliminar el piso?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          <input class="btn btn-success" type="submit" value="Aceptar">
        </div>
         </form> 
      </div>
    </div>
  </div>

 -->
<script src="../bower_components/velocity/velocity.js"></script>

<script src="../bower_components/angular/angular.js"></script>


</body>
</html>